
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: #f0371e;
    font-size: 34px;
    image-rendering: optimizeSpeed;
    
    
}

.ItemsList ul li img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 370px;
    width: 320px;
    
}
