.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #faf2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid ;
    padding: 10px;
    flex-direction: column;
    border-radius: 6px;
    border-color:  #f0371e;
    min-height: 380px;
    

    list-style: none;
    gap: 10px;

    &:hover {
        background-color:#a5aaa8;
        border-color: #e8eaf4;
        transition: linear 0.3s;
    }
}
.button{
    border-radius: 2rem;
    width: 35px;
}