.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    color: #f0371e;
    gap: 15px;
}

.btn-add-remove {
    margin-right: 3rem;
    background:  #f0371e;
    height: 35px;
    width: 125px;
    border-radius: 6px;
    color: #fff;
    border: none;
    &:hover {
        cursor: pointer;
    }
}
